
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}


    <div> 
        <h3>Добавление сертификата сотруднику @ViewBag.ownerName</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.ownerID" name="ownerID" />
            <table>
                <tr>
                    <td><p>Категория сертификата</p></td>
                    <td>
                        <select name="category" required>
                            @foreach (var b in ViewBag.cert_categories)
                            {
                                <option value="@b.id">@b.name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><p>Название сертификата</p></td>
                    <td><input type="text" name="name" required/> </td>
                </tr>
                <tr>
                    <td><p>start date</p></td>
                    <td><input type="text" name="startDate" required/> </td>
                </tr>
                <tr>
                    <td><p>end date</p></td>
                    <td><input type="text" name="endDate" required/> </td>
                </tr>
                <tr>
                    <td><p>get date</p></td>
                    <td><input type="text" name="getDate"  required/> </td>
                </tr>
                <tr>
                    <td><p>Организация выдачи</p></td>
                    <td>
                        <select name="vendorID" required>
                            @foreach (var b in ViewBag.vendors)
                            {
                                <option value="@b.id">@b.name</option>
                            }
                        </select>
                    </td>
                </tr>        
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            <</table>>    
        </form>
    </div>

