
@{
    ViewBag.Title = "CertViewFull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Просмотр сертификата сотрудника @ViewBag.owner.surname @ViewBag.owner.name @ViewBag.owner.secondName</h2>
<p>ID сертификата</p>
<p>@ViewBag.certificate.id</p>
<p>Категория сертификата</p>
<p>@ViewBag.certificate.category</p>
<p>Название сертификата</p>
<p>@ViewBag.certificate.name</p>
<p>Срок начала действия</p>
<p>@ViewBag.certificate.startDate</p>
<p>Срок окночания</p>
<p>@ViewBag.certificate.endDate</p>
<p>Дата выдачи</p>
<p>@ViewBag.certificate.getDate</p>
<p>Организация выдачи</p>
<p>@ViewBag.vendor.name</p>
<p>Images</p>
<img src="@ViewBag.img1" alt="HTML5 Icon" style="width:128px;height:128px;"> <a href="/Home/delete_image?name=@ViewBag.img1&por=1&id=@ViewBag.certificate.id">Удалить</a> <br>
<img src="@ViewBag.img2" alt="HTML5 Icon" style="width:128px;height:128px;"> <a href="/Home/delete_image?name=@ViewBag.img2&por=2&id=@ViewBag.certificate.id">Удалить</a> <br>
<img src="@ViewBag.img3" alt="HTML5 Icon" style="width:128px;height:128px;"> <a href="/Home/delete_image?name=@ViewBag.img3&por=3&id=@ViewBag.certificate.id">Удалить</a> <br>
<img src="@ViewBag.img4" alt="HTML5 Icon" style="width:128px;height:128px;"> <a href="/Home/delete_image?name=@ViewBag.img4&por=4&id=@ViewBag.certificate.id">Удалить</a> <br>

