
@{
    ViewBag.Title = "edit_owner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Изменение данных владельца сертификата</h2>
<div>
    <h3>Форма редактирования данных сотрудника</h3>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Имя</p></td>
                <td><input type="text" name="name" value="@ViewBag.owner.name" required/> </td>
            </tr>
            <tr>
                <td><p>Фамилия</p></td>
                <td><input type="text" name="surname" value="@ViewBag.owner.surname" required/> </td>
            </tr>
            <tr>
                <td><p>Отчество</p></td>
                <td><input type="text" name="secondName" value="@ViewBag.owner.secondName" /> </td>
            </tr>
            <tr>
                <td><p>Дата рождения</p></td>
                <td><input type="text" name="birthDate" value="@ViewBag.owner.birthDate" required/> </td>
            </tr>
            <tr>
                <td><p>Должность</p></td>
                <td><input type="text" name="position" value="@ViewBag.owner.position" required/> </td>
            </tr>
            <tr>
                <td><p>Служба</p></td>
                <td> <select  name="departmentID" required>
                    <option disabled value="@ViewBag.current_dep.id">@ViewBag.current_dep.name</option>
                    @foreach (var b in ViewBag.departments)
                    {
                        <option value="@b.id">@b.name</option>
                    }
                    </select></td>
            </tr>
            <tr>
                <td><p>Пол</p></td>
                <td>
                    <select name="sex" required>

                        <option value="true">Мужской</option>
                        <option value="false">Женский</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><p>E-mail</p></td>
                <td><input type="text" name="email" /> </td>
            </tr>
            <tr>
                <td><p>ИИН</p></td>
                <td><input type="text" name="IIN" required /> </td>
            </tr>
            <tr>
                <td><p>Телефон</p></td>
                <td><input type="text" name="phone_number" /> </td>
            </tr>


            <tr><td><input type="submit" value="Изменить" /> </td><td></td></tr>

        </table>
    </form>
</div>
